@import "tailwindcss";
@font-face {
  font-family: "CraftyGirls";
  src: url("/fonts/CraftyGirls-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@tailwind utilities;
@layer utilities {
  .text-shadow-white { text-shadow: 0 0 5px #5e5e5e, 0 0 5px #000000; } 
  .text-shadow-black { text-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff; }
}

@theme {
  --font-crafty: "CraftyGirls", sans-serif;
}

/* Chrome / Edge / Safari */
.product-row::-webkit-scrollbar {
  height: 10px;
}

.product-row::-webkit-scrollbar-track {
  background: transparent;
}

.product-row::-webkit-scrollbar-thumb {
  background: #e2e2e2;
  border-radius: 999px;
  transition: background 0.3s;
}

.product-row::-webkit-scrollbar-thumb:hover {
  background: #c7c7c7;
}


/* Firefox */
.product-row {
  scrollbar-width: thin;
  scrollbar-color: #e2e2e2 transparent;
}
.product-row:hover {
  scrollbar-color: #c7c7c7 transparent;
}
