---

import Hero from '@components/Hero.astro';
import Layout from '@layouts/Layout.astro';
import Titular from '@components/Titular.astro';
import CatalogCategory from '@components/CatalogCategory.astro';

---

<Layout title="Fufa Store" back="" description="Fufa Store - La belleza y el cuidado al alcance de tu mano" image="/Logo.jpg" url={Astro.url.href} type="website" siteName="Fufa Store" locale="es_ES" twitterCard="summary_large_image" twitterCreator="@1nfinit0" twitterSite="@1nfinit0">
	<Hero/>
	<div class="self-baseline mx-5 lg:mx-20 z-100 my-4">
		<Titular />
	</div>
	<CatalogCategory/>
</Layout>
