---

import Hero from '@components/Hero.astro';
import Layout from '@layouts/Layout.astro';
import Titular from '@components/Titular.astro';
import CatalogCategory from '@components/CatalogCategory.astro';

---

<Layout>
	<Hero/>
	<div class="self-baseline mx-5 lg:mx-20 z-100 my-4">
		<Titular />
	</div>
	<CatalogCategory/>
</Layout>
