---
const { url } = Astro.props;
const videoId = url.split("/").pop();
---

<style>
  .tiktok-wrapper {
    position: relative;
    width: fit-content;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
  }

  .tiktok-wrapper iframe {
    width: 100%;
    height: 565px;
    border: none;
  }

  /* Capa que bloquea clics en el 90% superior */
  .click-blocker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: transparent;
    pointer-events: auto;
    background-color: rgba(81, 165, 42, 0.418);
    display: none;
    z-index: 10;
  }

  /* Capa invisible inicial para detectar el primer click */
  .initial-click-detector {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
    z-index: 5;
    pointer-events: auto;
  }
</style>

<div class="tiktok-wrapper">
  <iframe
    src={`https://www.tiktok.com/embed/${videoId}`}
    allowfullscreen
    scrolling="no"
    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture"
  ></iframe>

  <!-- Bloqueador SOLO después -->
  <!-- <div class="click-blocker"></div> -->
</div>

<script>
  const wrapper = document.querySelector('.tiktok-wrapper');
  const blocker = document.querySelector('.click-blocker');

  (wrapper as HTMLElement).addEventListener('click', () => {
    alert('Para interactuar con el video, por favor usa los controles en la parte inferior.');
  })
</script>